.navigation-container {
  background-color: whitesmoke;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: "Zain";
  position: absolute;
  z-index: 5;
  .nav-brand-name {
    color: black;
    margin-left: 25px;
    width: 15rem;
    font-weight: 400;
    font-size: 40px;
  }

  .links-container-center {
    display: flex;
    justify-content: space-between;
    .nav-link-center {
      margin: 25px;
      font-weight: 400;
      font-size: 20px;
    }
  }

  .links-container-right {
    width: 15rem;
    display: flex;
    justify-content: right;
    margin-right: 25px;
    .nav-link-right {
      margin: 15px;
    }
  }
}
