body {
  margin: 0;
  box-sizing: border-box;
  background-color: #373737;
  color: whitesmoke;
  /* font-family: "Barlow Condensed"; */
  letter-spacing: 0.75px;
}

a {
  text-decoration: none;
  color: black;
}
