* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  color: whitesmoke;
  font-family: "Zain";
}

a {
  text-decoration: none;
  color: black;
}
